
/* 
 * Description of style
 *
 * @author Felipe Correa Gomes
 * @since 04/07/2019
*/

@import url(../css/font.css);
body{
    font-family: futura;
    font-size: 1em;
    margin: 0em;
    padding: 0em;
    max-width: 100.01%;
    width: 99.99%;
    /*background-color: #eee;*/
    background-image: linear-gradient(to bottom, transparent, #ff6644);
}

#menu{
    position: fixed;
    top: 0em;
    width: 100%;
    height: 3.95em;
    background-color: #fff;
    z-index: 1000;
    border-bottom: 0.5em solid;
    border-bottom-color: #f53;
    font-size: 1em;
}

#logo{
    position: relative;
    left:10%;
    top: 0.4em;
    font-size: 2em;
    display: inherit;
}

#itens-menu a:link span, #itens-menu a:visited span  {
    background-color: #fff;
    border-top: .5em solid #f53;
    border-bottom: .5em solid #f53;
    color: #444;
    transition:all ease 0.3s;
}

#itens-menu a:hover span {
    background-color: #ddd;
    border-top: .5em solid #953;
    border-bottom: .5em solid #f97;
    color: #000;
    transition:all ease 0.3s;
}

a:link #ativo, a:visited #ativo{
    background-color: #fff !important;
    border-bottom:  .5em solid #fff !important;
    color: #000 !important;
    transition:all ease 0.3s;
}

a:hover #ativo{
    background-color: #f0f0f0 !important;
    border-top: .5em solid #f64 !important;
    border-bottom:  .5em solid #f0f0f0 !important;
    color: #000 !important;
    transition:all ease 0.3s;
}

#itens-menu span{
    position: relative;

    margin-top: -0.2em;
    margin-left: -0.35em;
    margin-right: 0em;
    display: inline-block;
    border-top: .5em solid #f53;
    border-right: 0em transparent;
    border-bottom: .5em solid #f53; 
    border-left: 0em transparent;
    min-width: 6em;
    padding: 0em;
}

#bt-conectar a:link span, #bt-conectar a:visited span{
    background-color: #fff;
    color: #000;
    transition:all ease 0.3s;

}

#bt-conectar a:hover span{
    background-color: #f53;
    color: #fff;
}

#bt-conectar a span{
    position: fixed;
    top: 1em;
    right: 2em;
    margin-top: 0em;
    margin-left: -0.35em;
    margin-right: 0em;
    display: inline-block;
    border-top: .5em solid #f53;
    border-right: 0em transparent; 
    border-bottom: .5em solid #f53; 
    border-left: 0em transparent;
    min-width: 6em;
    padding: 0em;
    background-color: #fff;
    transition:all ease 0.3s;
}

footer{
    position: fixed;
    bottom: 0em;
    width: 100%;
    height: 2em;
    background-color: #ff6f4f;
    z-index: 2000;
}

#itens-menu {
    position: relative;
    left: 50%;
    margin-left: -10%;
}

#logo a:link, #logo a:visited{
    color: #000;
}

#logo a:hover{
    color: #e53;
}

#conteudo{
    position: relative;
    display: block;
    margin-top:4.45em;
    width: 80%;
    left: 10%;
    min-height:34em; 
    background-color: #fff;
    padding-bottom: 1em;
    padding-top: 0.5em;
    padding-left: 1em;
}

::selection{
    background-color:#d53;
    color:#fff;
}

::-moz-selection{
    background-color:#d53;
    color:#fff;
}
.produto{
    position: relative;
    border: 2px solid #f53;
    margin-left: -40%;
    left:51%;
    min-width: 50%;
    width: 70%;
    max-width: 70%;
    padding-left: 2em;
    cursor: pointer;
    padding-bottom: .7em;
    margin-bottom: 2em;

}
.produto-b, .produto-c{
    position: relative;
    margin-top: -3em;
    max-width: 10em;
    width: auto;
}
.produto-b{
    left: 42%;
    top:-.5em;
}
.produto-c{
    display: inline-block;
    float: right;
    right: 2%;
    /*left: 1%;*/
    top: 0em;
    text-align: right;
    line-height: 2em;
}
.produto-c input{
    max-width: 3em;
}
.titulo{
    font-size: 1.4em;
}
.desativado{
    background-color: #ddd;
    color: #777;
}
#mesas{
    position: relative;
    width: 90%;
    min-height:9em;
    left: 3%;
    display: block;
    border: .5px solid #f53;
    padding-bottom: 2em;
}
.mesa{
    position: relative;
    width: 14em;
    /*margin: 4.6%;*/
    margin-top: 2em;
    margin-left: 4.6%;
    margin-right: 4.6%;
    text-align: center;
    display: inline-block;
    border: 2px solid #f53;
    padding-bottom: 0.9em;
    cursor:  pointer;
}
#mesas input{
    display: none;
}